body {
    background-color: lightcyan;
    padding: 0;
    margin: 0;
    font-family: serif;
    font-size: 14px;
}

/* Front Picture */

#front_picture_container{
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#front_picture {
    width: 100%;
    margin: 0px;
}

#front_picture_button_container{
    position: absolute;
    top: 70%;
    left: 60%;
}

.front_picture_button{
    background-color: white;
    opacity: 0.6;
    padding: 1.3vw;
    margin: 0px 1vw;
    border: 1px solid black;
    border-radius: 4px;
    font-family: serif;
    font-size: 2vw;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 10px grey;
}

#front_picture_text_container{
    position: absolute;
    z-index: 2;
    left: 60% ;
    top: 40%;
    max-width: 30vw;
    max-height: 40vh;
    font-size: 2.4vw;
    font-family: sans-serif;
    opacity: 0.8;
}

/* Header */

#header {
    position: fixed;
    top: 5px;
    background-color: white;
    opacity: 0.6;
    width: 100%;
    margin: 0px 0px;
    z-index: 3;
}

#main_logga{
    display: inline-block;
    border-radius: 8px;
    width: 20vw;
    vertical-align: middle;
}

#header_dropdown_icon {
    display: inline-block;
    font-size: 2.5vw;
    padding: 5px 65px 5px 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    color: black;
}

#header_dropdown_icon:hover {
    opacity: 0.5;
}

#header_dropdown_content {
    position: absolute;
    z-index: 2; 
    margin: 2px 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_content {
    display: none;
}

.show {
    display: block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.dropdown_item {
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 16px;
    min-width: 150px;
    text-align: left;
    border: 2px solid white;
    opacity: 0.95;
    font-family: monospace;
    font-size: 1.5em;
}

.dropdown_item:hover {
    background-color: #C6D4E1;
}

/* Content Table */

#content_table{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #A7A3A2;
}

#content_table td {
    width: 33%;
    height: 100%;
    background-color: ;
    font-family: sans-serif;
}

#content_table td img{
    width: 50%;
}

/* Avoid the floor Canvas */

#atf {
    position: relative;
    padding: 16px;
    top: 80px;
    width: 600px;
    margin: auto;
}

canvas {
    border: 2px solid black;
}


